<?xml version="1.0"?>
<ExportProfile xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Version>1.4.1.24</Version>
  <ExportDate>8/28/2012 8:39:10 PM</ExportDate>
  <Data>
    <SettingsCollection>
      <Settings xsi:type="AzureSettings">
        <Name>CPT - OnDemand - VideoData</Name>
        <ID>94ea7ec1-cc4b-4ae1-9017-95bdf34b51e9</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <Account>ondemandvideodata</Account>
        <SharedKey>WhloBXwJf0vON4k/Zgjrui0zwDJ5U1qMQSDpXb2MtWIKftd7J8oQRH0JwWL+rTbEUVaWOfmrozIRSipMi4huxFpQkl9UzSjyOgHauggtv8ZkYeExE4RaFVF+AZXzQvlz</SharedKey>
        <UseSSL>false</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <Name>CPT - Ops - ClassEnvs</Name>
        <ID>9c80050b-a00d-4205-b347-ea5c9fb4d180</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <Account>classenvs</Account>
        <SharedKey>Ojc22QcjeTDWbMaMamWyQI8QPxP7hUpdRa72k6VXa7/UfeRysbJ/g+8lfVX9w7f4EoMlEoqnsw4JKycKP27dA5Z+++wvMswheUApsqyH9Zhf1YLhcGOk9DFla2Vrnj5/</SharedKey>
        <UseSSL>false</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <Name>CPT - Ops - ClassResources</Name>
        <ID>1fd2990e-6eee-4711-aa41-c9a849c17a23</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <Account>classresources</Account>
        <SharedKey>lp/VaVzRskBxLmjTS//oChl1zSXJ0zBd7tPpeCauuqNMazA3J+4vfFUFulTArGh6AYfjUUzgz8mxL1luBvanAaGL1jHja2WvPEADxoGU76W4MX04EsAbSv5UqP3ngFJm</SharedKey>
        <UseSSL>false</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <Name>CPT - Ops - InternalShare</Name>
        <ID>9cda5a71-cd6b-4d40-805c-3f7e7e3b953a</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <Account>internalshare</Account>
        <SharedKey>4AuRdNKcwoJtAmlJMragpy/VhuuwqNzJTBWHISPiZoui3UZ+NqIWXzO/pUtuarVOhzkDXqDsTk2ShtDoK33HMrjSFU6klXF5zIwOOx+HIQc+DpYjXYxm8Sn3E1tFRrcz</SharedKey>
        <UseSSL>false</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
      <Settings xsi:type="AzureSettings">
        <Name>ACI - ACIBbackup</Name>
        <ID>8cdca649-be86-4d01-804b-42a41ba9f2d6</ID>
        <ContainerSettingsCollection />
        <IsDevStoreAccount>false</IsDevStoreAccount>
        <Account>acibackup</Account>
        <SharedKey>aFSrj56b7kE2NQyJ/jzwmZX6zwMiWnfreWq22IwdcfdQbFpbtFxuMiPt8+CJZxzmfc4bwX/IAx1xXDDS/wMORMVQppYNTWubVnpwTgWw1DcNwJEhYTKvcsUQjL3Ze5vS</SharedKey>
        <UseSSL>false</UseSSL>
        <RequestStyle>Path</RequestStyle>
      </Settings>
    </SettingsCollection>
    <Proxy>
      <UseProxy>true</UseProxy>
      <UseDefault>true</UseDefault>
      <Address />
      <Port>80</Port>
      <UseAuthentication>false</UseAuthentication>
      <User />
      <Password>bZvwaXtwQzG2BAWX0jc4nw==</Password>
      <Domain />
    </Proxy>
    <GeneralOptions>
      <Language>en-US</Language>
      <IAMEnabled>false</IAMEnabled>
      <UserName />
      <UserEmail />
      <RegisterKey />
      <ActivateKey />
      <LicenseKey />
      <TrialStartDate>0001-01-01T00:00:00</TrialStartDate>
      <AskBeforeClosingTab>false</AskBeforeClosingTab>
      <DontAksBeforeCopyMove>false</DontAksBeforeCopyMove>
      <RetryAttempts>3</RetryAttempts>
      <TimeBetweenRetryAttempts>400</TimeBetweenRetryAttempts>
      <UseMD5>false</UseMD5>
      <CheckForNewVersion>true</CheckForNewVersion>
      <ShowNewVersionDialog>true</ShowNewVersionDialog>
      <DontShowHiddenFilesAndFolder>true</DontShowHiddenFilesAndFolder>
      <LastAcceptedVersion />
      <ImportExportManifestLocation />
      <Code />
      <ShowInTray>WhenMinimized</ShowInTray>
      <BandwidtLimitEnabled>false</BandwidtLimitEnabled>
      <BandwidthLimit>97656</BandwidthLimit>
      <QueueVisualMode>Tabs</QueueVisualMode>
      <UseMasterPassword>false</UseMasterPassword>
      <HashCode />
      <ShowDeletedVersions>false</ShowDeletedVersions>
      <GoogleResumableUpload>false</GoogleResumableUpload>
      <UseCustomTransferBufferSize>false</UseCustomTransferBufferSize>
      <CustomTransferBufferSize>0</CustomTransferBufferSize>
      <MemoryManagerMaxMemoryUsage>314572800</MemoryManagerMaxMemoryUsage>
      <MemoryManagerMaxDiskUsage>0</MemoryManagerMaxDiskUsage>
    </GeneralOptions>
    <CopyMoveOptions>
      <OverwriteAction>AskEveryTime</OverwriteAction>
      <ForceSharing>true</ForceSharing>
      <CopyMoveViaLocalPcOnAccessDenied>false</CopyMoveViaLocalPcOnAccessDenied>
      <DoNotChangePermissionsForExisting>true</DoNotChangePermissionsForExisting>
      <KeepExistingPemissionsOnCloudCopy>false</KeepExistingPemissionsOnCloudCopy>
      <PermissionsInheritance>InheritAll</PermissionsInheritance>
      <CommandCompletedCountThreshold>20</CommandCompletedCountThreshold>
      <CommandCompletedMBytesThreshold>5</CommandCompletedMBytesThreshold>
      <AllowCountThreshold>true</AllowCountThreshold>
      <AllowBytesThreshold>true</AllowBytesThreshold>
      <UploadLimitGb>5</UploadLimitGb>
      <KeepExistingHeaders>false</KeepExistingHeaders>
    </CopyMoveOptions>
    <ConsoleOptions>
      <WindowState>Normal</WindowState>
      <Location>
        <X>248</X>
        <Y>106</Y>
      </Location>
      <Size>
        <Width>1557</Width>
        <Height>1011</Height>
      </Size>
    </ConsoleOptions>
    <AdvancedOptions>
      <UseChunks>true</UseChunks>
      <ChunkTransparency>true</ChunkTransparency>
      <FixETagAfterMultipartUpload>false</FixETagAfterMultipartUpload>
      <ChunkSizeKB>10240</ChunkSizeKB>
      <UseCompression>false</UseCompression>
      <UseEncryption>false</UseEncryption>
      <UseServerSideEncryption>false</UseServerSideEncryption>
      <EncryptionAlgorithm>AES</EncryptionAlgorithm>
      <EncryptionKeySize>128</EncryptionKeySize>
      <EncryptionPassword>bZvwaXtwQzG2BAWX0jc4nw==</EncryptionPassword>
      <ThreadCount>5</ThreadCount>
      <UseParallelUpload>false</UseParallelUpload>
    </AdvancedOptions>
    <LoggingOptions>
      <LoggingLevel>Warning</LoggingLevel>
      <LogPath>C:\Users\andrew.RIVERCITY\AppData\Local\CloudBerry Explorer for Azure Blob Storage PRO\Logs\cloudberry.log</LogPath>
      <EvenListSize>500</EvenListSize>
    </LoggingOptions>
    <AddressBook />
    <Version>1.4.1.24</Version>
  </Data>
  <Sync>
    <SettingsCollection />
  </Sync>
</ExportProfile>